{% extends 'core/base.html' %}

{% block contenido_titulo %}
    Cliente
{% endblock contenido_titulo %}

{% block contenido %}

  
    <ul>
        <li><a href="{% url 'core:index' %}">Volver al incio</a></li>
        
    </ul>
{% endblock contenido %}


<!-- templates/cliente/buscar_cliente.html -->

{% extends 'base_generic.html' %}

{% block content %}
  <h1>Buscar Cliente</h1>
  <form method="post" action="{% url 'cliente:buscar_cliente' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Buscar</button>
  </form>

  {% if resultados %}
    <h2>Resultados:</h2>
    <ul>
      {% for cliente in resultados %}
        <li>{{ cliente.nombre }} {{ cliente.apellido }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
